<!DOCTYPE html>
<html>

<head>

    <title>Edit Disease</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_disease.css') }}">

</head>

<body>

<h1>Edit Disease</h1>

<form method="POST">

    <input type="text"
           name="disease"
           value="{{ disease.disease }}"
           required>

    <input type="text"
           name="drug_name"
           value="{{ disease.drug_name }}"
           required>

    <textarea name="advice"
              required>{{ disease.advice }}</textarea>

    <button type="submit">
        Update Disease
    </button>

</form>

</body>
</html>