<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/edit.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<h2>Edit User</h2>
<a href="{{ url_for('admin_dashboard') }}" class="back-btn">
    Back to Dashboard
</a>
<form method="POST">

    <input type="text" name="name" value="{{ user.name }}" required>
    <br><br>

    <input type="email" name="email" value="{{ user.email }}" required>
    <br><br>

    <button type="submit">Update</button>

</form>

<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>

</body>
</html>